
<!--
<div class="ml-56"><p class="text-2xl font-semibold text-blue-600">Update/Edit Your Profile Here!! </p></div>
<div>
    <form [formGroup]="editForm" class="flex flex-wrap -mx-3 p-4">
      
        <div class="w-1/3 p-2">
          <label for="first_name" class="block font-medium text-gray-700">First Name</label>
          <input type="text" id="first_name" placeholder="Enter First Name" formControlName="first_name" class="w-full py-2 px-3 border-2 rounded-md shadow-md focus:outline-none focus:ring focus:border-blue-500 text-gray-700">
          <span *ngIf="war['first_name'].getError('minlength') != null" class="text-red-500">First name should be at least 4 characters</span>
        </div>
      
        <div class="w-1/3 p-2">
          <label for="last_name" class="block font-medium text-gray-700">Last Name</label>
          <input type="text" id="last_name" placeholder="Enter Last Name" formControlName="last_name" class="w-full py-2 px-3 border-2 rounded-md shadow-md focus:outline-none focus:ring focus:border-blue-500 text-gray-700">
        </div>
      
        <div class="w-1/3 p-2">
          <label for="email" class="block font-medium text-gray-700">Email</label>
          <input type="email" id="email" placeholder="Enter Email" formControlName="email" class="w-full py-2 px-3 border-2 rounded-md shadow-md focus:outline-none focus:ring focus:border-blue-500 text-gray-700">
          <span *ngIf="war['email'].getError('required') != null" class="text-red-500">Email is mandatory</span>
          <span *ngIf="war['email'].getError('email') != null" class="text-red-500">Invalid email</span>
        </div>
    
        <div class="w-1/3 p-2">
          <label for="phone" class="block font-medium text-gray-700">Phone Number</label>
          <input type="tel" id="phone" placeholder="Enter Phone Number" formControlName="phone" class="w-full py-2 px-3 border-2 rounded-md shadow-md focus:outline-none focus:ring focus:border-blue-500 text-gray-700">
          <span *ngIf="war['phone'].getError('pattern') != null" class="text-red-500">Enter only numbers (10 digits)</span>
        </div>
      
        <div class="w-1/3 p-2">
          <label for="dob" class="block font-medium text-gray-700">Date of Birth</label>
          <input type="date" id="dob" formControlName="dob" class="w-full py-2 px-3 border-2 rounded-md shadow-md focus:outline-none focus:ring focus:border-blue-500 text-gray-700">
          <span *ngIf="war['dob'].getError('required') != null" class="text-red-500">Add DOB here!!</span>
        </div>
      
        <div class="w-1/3 p-2">
          <label for="gender" class="block font-medium text-gray-700">Gender</label>
          <select id="gender" formControlName="gender" class="w-full py-2 px-3 border-2 rounded-md shadow-md focus:outline-none focus:ring focus:border-blue-500 text-gray-700">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <span *ngIf="war['gender'].getError('required') != null" class="text-red-500">Select gender here!!</span>
        </div>
      
       
        <div class="w-1/3 p-2">
          <label for="password" class="block font-medium text-gray-700">Password</label>
          <input type="password" id="password" placeholder="Enter Password" formControlName="password" class="w-full py-2 px-3 border-2 rounded-md shadow-md focus:outline-none focus:ring focus:border-blue-500 text-gray-700">
          <span *ngIf="war['password'].getError('required') != null" class="text-red-500">Password is mandatory</span>
        </div>
      
        <div class="w-1/3 p-2">
          <label for="confpassword" class="block font-medium text-gray-700">Confirm Password</label>
          <input type="password" id="password" placeholder="Confirm Password" formControlName="password" class="w-full py-2 px-3 border-2 rounded-md shadow-md focus:outline-none focus:ring focus:border-blue-500 text-gray-700">
          <span *ngIf="war['password'].getError('required') != null" class="text-red-500">Password is mandatory</span>
          <span *ngIf="war['password'].getError('passwordMatch') != null" class="text-red-500">Passwords do not match</span>
        </div>
      
        <div class="ml-72">
          <button [disabled]="editForm.invalid" type="submit" class="py-2 px-4 bg-blue-500 text-white rounded-md hover-bg-blue-700 ml-28" (click)="submitForm() " >Update</button>
        </div>
      </form>
</div> 
-->
  

