
  <!-- Welcome Section (fixed) -->
  <div class="flex justify-center fixed top-0 left-0 w-full bg-blue-500  shadow-md p-4 h-16">
    <div><button routerLink="/home" class=" text-xl ml-10  p-1 text-white hover:underline font-bold">Home</button></div>
    <div><button routerLink="/home" class="ml-10 text-xl p-1 text-white hover: font-bold">About Us</button></div>
    <div><button routerLink="/home" class="ml-10 text-xl p-1 text-white hover: font-bold">Contact Us</button></div>
  </div>

  <router-outlet></router-outlet>



