<div class="mt-28 fixed center ">

    
        <div class=" -mt-5 text-lg ">
            
          <div class="text-center pb-3">  <button 
            class=" ml-10  p-1 rounded  bg-blue-500 text-white font-bold" (click)="openRegistrationForm()">Register
            Here</button> </div>

            <div class="text-center pb-3"><button  (click)="loginWithKeycloak()"
                class="ml-10 p-1 bg-blue-500 text-white rounded font-bold">Login Here</button> </div>

          <div class="text-center">  <button routerLink="/userdata" class="ml-10  p-1 bg-blue-500 rounded text-white font-bold"
            (click)="showLoginAlert()">User Data</button></div>
        </div>

  
   </div>